In [ ]:
Classify the email using the binary classification method. Email Spam detection has two states: 
a) Normal State – Not Spam, b) Abnormal State – Spam. 
Use K-Nearest Neighbors and Support Vector Machine for classification. Analyze their performance.

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
df=pd.read_csv('emails_data.csv')

In [23]:
df.head()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [24]:
df.tail()

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df.describe()

,the,to,ect,and,for,of,a,you,hou,in,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
count,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,...,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000,5172.000000
mean,6.640565,6.188128,5.143852,3.075599,3.124710,2.627030,55.517401,2.466551,2.024362,10.600155,...,0.005027,0.012568,0.010634,0.098028,0.004254,0.006574,0.004060,0.914733,0.006961,0.290023
std,11.745009,9.534576,14.101142,6.045970,4.680522,6.229845,87.574172,4.314444,6.967878,19.281892,...,0.105788,0.199682,0.116693,0.569532,0.096252,0.138908,0.072145,2.780203,0.098086,0.453817
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,12.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,3.000000,1.000000,1.000000,2.000000,1.000000,28.000000,1.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,7.000000,4.000000,3.000000,4.000000,2.000000,62.250000,3.000000,1.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,210.000000,132.000000,344.000000,89.000000,47.000000,77.000000,1898.000000,70.000000,167.000000,223.000000,...,4.000000,7.000000,2.000000,12.000000,3.000000,4.000000,3.000000,114.000000,4.000000,1.000000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5172 entries, 0 to 5171
Columns: 3002 entries, Email No. to Prediction
dtypes: int64(3001), object(1)
memory usage: 118.5+ MB

In [27]:
df.columns

Index(['Email No.', 'the', 'to', 'ect', 'and', 'for', 'of', 'a', 'you', 'hou',
       ...
       'connevey', 'jay', 'valued', 'lay', 'infrastructure', 'military',
       'allowing', 'ff', 'dry', 'Prediction'],
      dtype='object', length=3002)

In [28]:
df.shape

(5172, 3002)

In [29]:
df.dtypes

Email No.     object
the            int64
to             int64
ect            int64
and            int64
               ...
military       int64
allowing       int64
ff             int64
dry            int64
Prediction     int64
Length: 3002, dtype: object

In [30]:
df.isnull().sum()

Email No.     0
the           0
to            0
ect           0
and           0
             ..
military      0
allowing      0
ff            0
dry           0
Prediction    0
Length: 3002, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [32]:
# Separate features (X) and target (y)
X = df.drop(columns=['Email No.', 'Prediction'])
y = df['Prediction']

In [33]:
# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
# Initialize the models
knn = KNeighborsClassifier(n_neighbors=5)
svm = SVC(kernel='linear', random_state=42)

In [35]:
# Train K-Nearest Neighbors model
knn.fit(X_train, y_train)
knn_predictions = knn.predict(X_test)

In [36]:
# Model Evaluation
knn_predictions = knn.predict(X_test)
knn_accuracy = accuracy_score(y_test, knn_predictions)
knn_precision = precision_score(y_test, knn_predictions)
knn_recall = recall_score(y_test, knn_predictions)
knn_f1_score = f1_score(y_test, knn_predictions)
knn_report = classification_report(y_test, knn_predictions)

In [37]:
# Print results
print("K-Nearest Neighbors Accuracy:",knn_accuracy)
print("K-Nearest Neighbors Precision:",knn_precision)
print("K-Nearest Neighbors Recall:",knn_recall)
print("K-Nearest Neighbors F1 Score:",knn_f1_score)
print("K-Nearest Neighbors Classification Report:")
print(knn_report)

K-Nearest Neighbors Accuracy: 0.8628019323671497
K-Nearest Neighbors Precision: 0.7251461988304093
K-Nearest Neighbors Recall: 0.8378378378378378
K-Nearest Neighbors F1 Score: 0.7774294670846394
K-Nearest Neighbors Classification Report:
              precision    recall  f1-score   support

           0       0.93      0.87      0.90       739
           1       0.73      0.84      0.78       296

    accuracy                           0.86      1035
   macro avg       0.83      0.86      0.84      1035
weighted avg       0.87      0.86      0.87      1035

In [38]:
# Train Support Vector Machine model
svm.fit(X_train, y_train)
svm_predictions = svm.predict(X_test)

In [39]:
# Train Support Vector Machine
svm_predictions = svm.predict(X_test)
svm_accuracy = accuracy_score(y_test, svm_predictions)
svm_report = classification_report(y_test, svm_predictions)
svm_precision = precision_score(y_test, svm_predictions)
svm_recall = recall_score(y_test, svm_predictions)
svm_f1_score = f1_score(y_test, svm_predictions)

In [40]:
# Print results
print("SVM Accuracy:",svm_accuracy)
print("SVM Precision:",svm_precision)
print("SVM Recall:",svm_recall)
print("SVM F1 Score:",svm_f1_score)
print("SVM Classification Report:")
print(svm_report)

SVM Accuracy: 0.9594202898550724
SVM Precision: 0.9205298013245033
SVM Recall: 0.9391891891891891
SVM F1 Score: 0.9297658862876255
SVM Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.97      0.97       739
           1       0.92      0.94      0.93       296

    accuracy                           0.96      1035
   macro avg       0.95      0.95      0.95      1035
weighted avg       0.96      0.96      0.96      1035

In [ ]:
# ################# Overall Anaysis #################
# K-Nearest Neighbors (KNN):

# Overall accuracy: 0.86
# The precision for class 0 (not spam) is 0.93, indicating that 93% of the instances classified as not spam are correct.
# The recall for class 0 is 0.87, indicating that 87% of the actual not spam instances are correctly classified.
# The F1-score for class 0 is 0.90, which is the harmonic mean of precision and recall.
# For class 1 (spam), the precision is 0.73, recall is 0.83, and F1-score is 0.78.
# The macro average F1-score is 0.84, and the weighted average F1-score is 0.86.
# Support Vector Machine (SVM):

# Overall accuracy: 0.80
# The precision for class 0 (not spam) is 0.79, indicating that 79% of the instances classified as not spam are correct.
# The recall for class 0 is 0.99, indicating that 99% of the actual not spam instances are correctly classified.
# The F1-score for class 0 is 0.88.
# For class 1 (spam), the precision is 0.92, recall is 0.36, and F1-score is 0.52.
# The macro average F1-score is 0.70, and the weighted average F1-score is 0.77.
# Here's an interpretation of the results:

# KNN has a higher accuracy, precision, recall, and F1-score for the "spam" class compared to SVM.
# SVM has a higher accuracy, precision, recall, and F1-score for the "not spam" class.
# Depending on the specific problem and requirements, you can choose between KNN and SVM.
# KNN appears to be better at classifying spam, while SVM is better at classifying not spam.
# Your choice should be based on the trade-offs you are willing to make between precision and recall for each class.